{% extends 'base.html' %}
{% block content %}
   <!-- mostrar los mensajes flash  -->
{% for mensaje in get_flashed_messages()  %}
<div class="alert alert-success alert-dismissable">
      <button type="button" data-dismiss="alert" class="close">&times;</button>  
    {{ mensaje }}

</div>
{% endfor %}
    <h1 > Listado de productos  </h1>
    <a href="/productos/nuevo" class="btn btn-success">Nuevo Cliente</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th>Actualizar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{producto.nombre}}</td>
                <td>{{producto.precio}}</td>
                <td><img src="imagenes/{{producto.imagen}}" alt="" style="height: 10lh;"></td>
                <td><a href="/productos/editar/{{producto.id}}">Actualizar</a></td>
                <td><a href="/productos/eliminar/{{producto.id}}">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}